{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}
{% block sitetitle %}
    <h1>Archives.</h1>
{% endblock %}
{% block content %}
{% set v = {"year":""} %}
<ul>
{% for article in articles %}
    {% set year = article.date |strftime("%Y") %}
    {% if not year == v.year %}
</ul>
<h2>{{ year }}</h2>
<ul>
        {% if v.update({"year":year}) %}{% endif %}
    {% endif %}
    <li>{{ article.category }}, {{ article.locale_date }} <a href="{{ SITEURL }}/{{ article.url }}" >{{ article.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}
