{% macro print_articles(articles, list_short = False) %}

        {% for article in articles %}
            <div class="article">
                <p class="article-meta" >
                    <span class="article-time" >{{ article.locale_date }}</span><br />
                    <span class= "artcile-category" >Catégorie : <a href="{{ article.category.url }}" >{{ article.category }}</a></span><br />
                    {% if article.tags %}<span class = "article-tags" >Tags : {% for tag in article.tags %}<a href="{{ tag.url }}" >{{ tag }}</a> {% endfor %}</span>{% endif %}
                </p>
                <h1><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" >{{ article.title }}</a></h1>

                {{ article.content }}
            </div>
        {% endfor %}
{% endmacro %}
