{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block description %}{{ article.summary | striptags}}{% endblock %}
{% block bg_image %}{{ SITEURL }}/{% if article.background_image %}{{ BACKGROUND_URL }}{{ article.background_image }}{% else %}{{ BACKGROUND_DEFAULT }}{% endif %}{% endblock %}
{% block sitetitle %}
    <h1>{{ article.title }}.</h1>
{% endblock sitetitle %}
{% block content %}
    <div class="article">
        <p class="article-meta" >
            <span class="article-time" >{{ article.locale_date }}</span><br />
            <span class= "artcile-category" >Catégorie : <a href="{{ article.category.url }}" >{{ article.category }}</a></span><br />
            {% if article.tags %}<span class = "article-tags" >Tags : {% for tag in article.tags %}<a href="{{ tag.url }}" >{{ tag }}</a> {% endfor %}</span>{% endif %}
        </p>

        {{ article.content }}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pager" >
            {% if article.next_article_in_category %}
                <li class="previous" >
                    <a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
                        &laquo; {{ article.next_article_in_category.title }}
                    </a>
                </li>
            {% endif %}
            {% if article.prev_article_in_category %}
                <li class="next" >
                    <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
                        {{ article.prev_article_in_category.title }} &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% if DISQUS_SITENAME %}
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
        this.page.url = "{{ DISQUS_SITENAME }}{{ SITEURL }}/{{ article.url }}";
        this.page.identifier = "{{ article.slug }}";
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ DISQUS_SHORTNAME }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Enable JavaScript to view the comments. Or don't, it's ok.</noscript>
    {% endif %}
{% endblock content %}
